<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805337517924-3b8ker39vjuavlg1o1p74qrmscm1f7f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805337517924-3b8ker39vjuavlg1o1p74qrmscm1f7f0</string>
	<key>API_KEY</key>
	<string>AIzaSyAd8_Wo8bstHmK33I4JHyrPyxU4mL5HipI</string>
	<key>GCM_SENDER_ID</key>
	<string>805337517924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vibetag.vibe.app</string>
	<key>PROJECT_ID</key>
	<string>vibetag-27076</string>
	<key>STORAGE_BUCKET</key>
	<string>vibetag-27076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805337517924:ios:5fc4effbbe46773bfef471</string>
</dict>
</plist>